{
    "extends": "airbnb",
    "rules": {
        "no-console": 1,
        "indent": ["error", 4],
        "comma-dangle": ["error", "never"],
        "padded-blocks": ["error", "always"]
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ]
}
